<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>ClinicPet</display-name>

    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>


    <servlet>
        <servlet-name>ClinicViewServlet</servlet-name>
        <servlet-class>ru.lesson.clinicServlets.ClinicViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClinicViewServlet</servlet-name>
        <url-pattern>/clinic/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClinicEditServlet</servlet-name>
        <servlet-class>ru.lesson.clinicServlets.ClinicEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClinicEditServlet</servlet-name>
        <url-pattern>/clinic/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClinicCreateServlet</servlet-name>
        <servlet-class>ru.lesson.clinicServlets.ClinicCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClinicCreateServlet</servlet-name>
        <url-pattern>/clinic/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClinicDeleteServlet</servlet-name>
        <servlet-class>ru.lesson.clinicServlets.ClinicDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClinicDeleteServlet</servlet-name>
        <url-pattern>/clinic/delete</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ClinicServlet</servlet-name>
        <servlet-class>ru.lesson.servlets.ClinicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClinicServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserViewServlet</servlet-name>
        <servlet-class>ru.lesson.servlets.UserViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserViewServlet</servlet-name>
        <url-pattern>/user/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>ru.lesson.servlets.UserCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/user/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserEditServlet</servlet-name>
        <servlet-class>ru.lesson.servlets.UserEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserEditServlet</servlet-name>
        <url-pattern>/user/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>ru.lesson.servlets.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>

</web-app>